.login__container{
    background-image: linear-gradient(to right top, #f9e0ae, #d4b17f, #b08355, #8c572f, #682c0e);
    width: 100%;
    height: 100vh;

}

.login__card{
    background-color: #FFEDDB;
    width: 28rem;
    height: 28rem;
    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 41px -18px #000000; 
    box-shadow: 0px 0px 41px -18px #000000;

    img{
        width: 8rem;
    }
}

.login__input{
    &:focus{
        &::placeholder{
            font-size: .9rem;
        }
    }
}

.login__register{
    color: black;

    &:hover{
        color: lighten($color: #000000, $amount: 25)
    }
}