.btn{
    background-color: $primary;
    color: #fff;
    padding: .8rem 1.8rem;
    font-weight: bold;
    border: none;
    font-size: 1.1rem;
    transition: background-color .3 ease;
    &:hover{
        background-color: darken($color: $primary, $amount: 10);
        color: darken($color: white, $amount: 10);
    }
    &:focus{ 
        box-shadow: none;
    }
}