<form class="h-100 d-flex flex-column justify-content-around">
    <div class="d-flex justify-content-center">
        <img src='../../../assets/dog.png'/>
    </div>
    
    <div>
        <div class="mb-3">
            <input placeholder="Name" autocomplete="off"  type="text" class="form-control login__input" id="name" name="name">
        </div>
        <div class="mb-3">
            <input placeholder="Lastname" autocomplete="off"  type="text" class="form-control login__input" id="name" name="name">
        </div>
        <div class="mb-3">
            <input placeholder="Email" autocomplete="off"  type="text" class="form-control login__input" id="name" name="name">
        </div>
        <div class="mb-3">   
            <input placeholder="Password" autocomplete="off" type="text" class="form-control login__input" id="age" name="age">
        </div>
        <div class="mb-3">   
            <input placeholder="Confirm password" autocomplete="off" type="text" class="form-control login__input" id="age" name="age">
        </div> 
    </div>

    <div class="w-100 d-flex justify-content-center mb-3">
        <a class="login__register" href="/login">Login</a>
    </div>
    
    <button type="submit" class="btn w-100">Register</button>

</form>


