img{
    width: 6rem;
}


.register__input{
&:focus{
    &::placeholder{
        font-size: .9rem;
    }
}
}

.register__to_login{
    color: black;

    &:hover{
        color: lighten($color: #000000, $amount: 25)
    }
}