.form-check-input{
    &:checked{
        background-color: $dirt;
        outline: 0;
        border: none;
    }
    &:focus{
        outline: 0;
        border: none;
    }
    &:select{
        outline: 0;
        border: none;
    }
    &:active{
        outline: 0;
        border: none;
    }
   
}