@import '../../../styles/setting';

.navbar{
    background-color: #180A0A;

}

.nav-item{
    a{
        color: white;
        font-size: 1.3rem;
        &:hover{
            color: $secondary;
        }
    }
}

.container{
    img{
        width: 5rem;
    }
}

.navbar-nav-custom{
    display: flex;
    list-style: none;
    width: 100%;

    li{
       width: 100%;
    }
}


