@import '../../../styles/setting';

.navbar{
    background-color: #180A0A;

}

.nav-item{
    a{
        color: white;
        font-size: 1.3rem;
        &:hover{
            color: $secondary;
        }
    }
}

.container{
    img{
        width: 5rem;
    }
}

.navbar-nav-custom{
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    margin: 0;
    li{
       width: 100%;
    }
}



.logout{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover{
        color: $secondary;
    }
}


.position-cart{
    left: 90%;
}

.navbar-toggler{
    &:focus{
        box-shadow: none;
    }
}

@media (max-width: 992px){
    .navbar-nav-custom{
        display: flex;
        flex-direction: column;
        li {
           display: flex;
           justify-content: center; 
        }
    }

    .logout{
        width: 1.5rem;
    }
    
 
    .position-cart{
        top:70%;
        left: 85%;
    }
}


