<nav class="navbar navbar-expand-lg">
    <div class="container">
      <img src='../../../assets/logo.png' />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav-custom">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/popular">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/toprated">Top rated</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/upcoming">Up coming</a>
          </li>
        </ul>
        <div class="w-100 d-flex justify-content-end">
            <a class="nav-link logout" (click)="Logout()">
              Logout
            </a>
        </div>
      </div>

 
      
    </div>
    <button class="btn position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

</nav>


<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Shopping Cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    
  </div>
  <div class="offcanvas-body">
    <app-movie-cart></app-movie-cart>
  </div>
</div>
